* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header {
    display: inline;
}


nav {
    display: flex;
    background-color: rgb(121, 238, 213);
    height: 70px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
}

nav .logo{
    font-family: 'MuseoModerno', cursive;
    letter-spacing: 0.4rem;
    font-size: 30px;
    color: rgb(1, 10, 20);
    background-color:rgb(16, 189, 151) ;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    overflow: hidden;
}

nav ul {
    display: flex;
    width: 40%;
    list-style: none;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav ul li a:hover {
    font-weight: bold;
    color: rgb(37, 39, 41);
}

/* Main */



.home {
    background: linear-gradient(rgb(121, 238, 213),rgb(92, 160, 180));
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
}

.image img {
    height: 60vh;
}

.text {
    text-align: justify;
    color: rgb(0, 0, 0);
    width: 40%;
    line-height: 1.4rem;
}

.text h2 {
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 2rem 5rem 0 grey;
    letter-spacing: 0.3rem;
}

.text p {
    margin-bottom: 10px;
}


.text a {
    margin: 40px auto;
    line-height: 2rem;
    padding: 10px;
    background-color: rgba(30, 28, 110, 0.493);
    text-decoration: none;
    color: white;
    border: solid white;
    border-radius: 25px;
    transition: all 0.3s;
}

.text a:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    border:none;
    border-radius: 25px;
}

.about {
    background: linear-gradient(rgb(92, 160, 180), rgb(75, 92, 168));
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
}

.about .text {
    background-color: rgba(6, 85, 85, 0.74);
    padding: 10px;
    border-radius: 25px;
    line-height: 2rem;
    color: white;
}

.service {
    padding: 40px 10px;
    background: linear-gradient(rgb(75, 92, 168), rgb(134, 205, 226));
    text-align: center;
    color: white;
}

.text-title h1 {
    line-height: 5rem;
    font-size: 3rem;
    letter-spacing: 0.7rem;
    text-shadow: 0 2rem 5 rem rgb(1, 10, 20);
}

.service-list {
    display: flex;
    padding: 30px 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.team-list {
    display: flex;
    padding: 30px auto;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    background-color: rgb(170, 168, 252);
    margin: 2rem 1rem;
    box-shadow: 0 4px 4px 0 rgb(63, 65, 75);
    text-align: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.head img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.text-card {
    text-align: center;
    padding: 5px;
    font-size: 1rem;
    line-height: 2rem;
    margin: auto;
}

.text-card ul li, p {
    list-style: none;
    text-align: left;
    padding-left: 10px;
}

.contact {
    padding: 40px 10px;
    background: linear-gradient(rgb(134, 205, 226),rgb(138, 247, 201));
    text-align: center;
    color: white;
}
.team-list .head img {
    width: 50%;
    height: 200px;
    border-radius: 50%;
}

footer {
    text-align: center;
    background-color: rgb(35, 212, 212);
    padding: 40px;
    width: 100%;
}

footer p {
    text-align: center;
}

article {
    min-height: 450px;
}


/* Responsive */
/* Tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 55%;
    }

    .image img {
        height: 40vh;
    }

    .card {
        width: 50%;
    }
}

/* Mobile */
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        height: 6rem;
        
    }
    .home {
        flex-direction: column;
    }

    .text {
        width: 100%;
    }

    .about{
        flex-direction: column-reverse;
    }
    .image img {
        padding-top: 10px;
        height: 30vh;
    }

    nav ul {
        width: 90%;
    }

    .head img {
        width: 100%;
        height: 150px;
    }
}